@import url("https://fonts.googleapis.com/css?family=Spline%20Sans:700|Spline%20Sans:400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text: #0d0d0d;
  --background: #fcfcfb;
  --primary: #9d9e64;
  --secondary: #cfcf9f;
  --accent: #33331f;
}
body {
  font-family: "Spline Sans";
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--text);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Spline Sans";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 2.369rem; /* 37.92px */
}

h2 {
  font-size: 1.777rem; /* 28.48px */
}

h3 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

button {
  font-size: 1.25rem;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
a {
  font-size: 1.5rem;
  color: var(--accent);
}
header {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  flex: 0;
  flex-wrap: wrap;
  background: var(--primary);
  width: 100vw;
}
nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
main {
  flex: 1;
}
main img {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}
main input {
  padding: 10px;
}
.addButton {
  height: 75px;
  border-radius: 10px;
  padding: 20px;
}
.payButton {
  padding: 20px 40px;
  border-radius: 10px;
}
.product {
  background: var(--secondary);
  padding: 10px;
  border-radius: 10px;
}
footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex: 0;
  background: var(--primary);
}

footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
address {
  text-align: center;
}
